# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.userprefs

# Rider / VS Code
.idea/
.vscode/

# NuGet
*.nupkg
packages/
*.nuget.props
*.nuget.targets

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# OS files
.DS_Store
Thumbs.db

# Test results
TestResults/
